/* Attractions.css */
.attractions-container, .restaurants-container, .lodging-container {
    display: flex;
    flex-wrap: nowrap; /* Ограничивает перенос элементов на новую строку */
    overflow-x: auto; /* Добавляет горизонтальную прокрутку, если элементов больше, чем помещается на экране */
    gap: 20px; /* Отступ между элементами */
    margin-bottom: 20px; /* Отступ снизу между контейнерами */
}

.attraction-item, .restaurant-item, .lodging-item {
    flex: 0 0 auto; /* Определяет, как элементы должны распределять своё пространство */
    width: calc(20% - 20px); /* Ширина каждого элемента (20% ширины контейнера минус отступы между элементами) */
    padding: 10px; /* Внутренний отступ элемента */
    text-align: center; /* Выравнивание текста по центру */
    box-sizing: border-box;
}

.attraction-image, .restaurant-image, .lodging-image {
    max-width: 100%; /* Максимальная ширина изображения */
    border-radius: 8px; /* Закругление углов */
}

.attraction-content, .restaurant-content, .lodging-content {
    margin-bottom: 10px; /* Отступ снизу для содержимого */
}

.button-container {
    position: relative; /* Абсолютное позиционирование */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    display: flex}


.button-icon {
    width: 30px; /* Ширина иконки */
    height: 30px;}